.sam{
    background-color: blueviolet;
}

.samarth{
    font-size: 100px;
}

.neha{
    color: red;
}

.maniket{
    font-style: italic;
}

.changu-mangu{
    text-shadow: 10px 10px 10px green;
}

.toggle{
    background-color: cyan;
}